.header{
    display: block;
    height: 6rem;
    padding: 1rem 3rem;
    /*background-color: black;*/
    position: sticky;
    top: 0;
}

.header--container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--light);
    transition: color 300ms ease-in, fill 300ms ease-in;
}

.logo__svg *{
    fill: var(--light);
}

.logo__text{
    font-size: 2rem;
    text-decoration: none;
    margin-left: .6rem;
    text-transform: uppercase;
}
#search{
    padding: .7rem;
    font-size: 1.2rem;
    border-radius: .6rem;
    border: none;
    border: 2px solid var(--primary) ;
    width: 30rem;
    height: 3rem;
}