
.section{
    overflow-y: hidden;
}
.premiers__movies {
    position: relative;
    margin-top:5rem ;
}

.sub-header{
    width: 80vw;
    display: flex;
    margin-left: 10rem;
}

.title{
    font-size: var(--xl);
    line-height: 4rem;
    color: var(--light);
    font-weight: 400;
    text-align: start;
}

@media (max-width: 625px) {
    .sub-header{
        width: 80vw;
        margin-left: 2rem;
    }
    .title{
        font-size: var(--x);
        line-height: 2.3rem;
    }

}